// VARIABLES 

// FONT FAMILIES
$fontInter: 'Inter', sans-serif;
$fontManrope: 'Manrope', sans-serif;
$fontPoppins: 'Poppins', sans-serif;
$fontRoboto: 'Roboto', sans-serif;

// FONT SIZES 
$s-size: 0.875rem;
$n-size: 1rem;
$m-size: 1.5rem;
$xm-size: 1.75rem;
$l-size: 2.375rem;
$xl-size: 3.25rem;

// COLORS
$primary-color: #3A3A3A;
$secondary-color: #18191F;
$tertiary-color: rgba(0, 0, 0, 0.87);
$quaternary-color: #5E6366;
$quinary-color: #787885;
$senary-color: rgba(224.19, 43.90, 108.81, 0.87);
$septenary-color: #0A0826;
$white: #fff;
$foot-text: #D9DBE1;

// FONT WEIGHTS
$light: 300;
$regular: 400;
$medium: 500;
$semiBold: 600; 
$bold: 700;
$x-bold: 800;